.rocket-card-wrapper {
	width: 100%;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
	border-radius: 0.5rem;
}

.rocket-card-wrapper .rocket-image img {
	width: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
}

.rocket-card-wrapper .rocket-stats-wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	gap: 1rem;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-name {
	font-size: 2rem;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-stats {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-stats .rocket-stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	text-align: center;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-stats .stat-heading {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7rem;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-stats .stat-value {
	font-weight: 900;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-stats .separator {
	min-height: 100%;
	width: 0.5px;
	background-color: #000;
}

.rocket-card-wrapper .rocket-stats-wrapper .rocket-description {
	color: rgb(114, 114, 114);
}

.rocket-card-wrapper .rocket-stats-wrapper .view-more-button {
	padding-bottom: 1rem;
	width: 100%;
}

.rocket-card-wrapper .view-more-button button {
	width: 100%;
	padding: 1rem;
	background-color: #000;
	border: none;
	color: #fff;
	border-radius: 0.5rem;
	text-transform: uppercase;
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
	.rocket-card-wrapper {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		min-width: 100%;
	}

	.rocket-card-wrapper .rocket-stats-wrapper {
		padding: 1rem;
	}

	.rocket-card-wrapper .rocket-image img {
		height: 100%;
		border-radius: 0.5rem 0rem 0 0.5rem;
		object-fit: cover;
	}

}

